body{
    font-family: 'Montserrat';
    margin: 0% auto;
    background-color: rgb(239, 196, 221);
}

.container{
    border: 2px solid grey;
    padding: 10px;
    margin: 10px auto;
    background-color: aliceblue;
}

.color-container{
    width: 100%;
}

.color-panel{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 1px auto;
    min-height: 100px;
}

.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.olive{
    background-color: olive;
}

.font-container{
    width: 100%;
}

.font-label{
    text-decoration: underline;
}

.roboto{
    font-family: 'Roboto',sans-serif;
}

.oswald{
    font-family: 'Oswald';
}

.playfair-display{
    font-family: 'Playfair Display';
}
.shadows-into-light{
    font-family: 'Shadows into light';
}
.regular{
    font-style: normal;
}
.bold {
    font-weight: 700;
}
.italic{
    font-style: italic;
}

.text-panel p{
    font-family: 'Kanit';
    font-weight: 400;
    font-size: 14px;
}
.font-panel{
    width: 45%;
    display: inline-block;
}

h1{
    font-weight: 700;
    font-size: 18px;
}

h2{
    font-weight: 500;
    font-size: 18px;
}

p{
    font-weight: 400;
    font-size: 14px;
}